.container {
	width: 970px;
	z-index: 1;
}
body {
	background: black;
	font-family: Trebuchet MS;
}

.ui-autocomplete {
    background-color: white;
    width: 300px;
    border: 1px solid #cfcfcf;
    list-style-type: none;
    padding-left: 0px;
}

a {
font-family: Trebuchet MS;
color: #910000;
}


.commentslink {
color:#1e93e5;
size: 90%;
}
.commentslink:hover {
color:black;
size: 90%;
}

header {
	text-align:center; height: 300px; background:transparent;padding-bottom:0px;
}

.headerbg {
position:relative; z-index:0; height:300px; /*background-image:url(../images/headerbg.png); background-repeat:repeat-x;*/ background-color:black;
}

.heading {
position:relative; z-index:0; height:43px; background-image:url(../images/bar.png); background-repeat:no-repeat;
font-size: 30px;
color:white;
margin-left:-20px;
padding-left:10px;
opacity:0.8;
}

.heading_right {
position:relative; top:0px;right:-21px;z-index:10; height:43px;background-image:url(../images/bar_right.png); background-repeat:no-repeat;
text-align:right;
font-size: 30px;
padding-right:20px;
color:white;
opacity:0.8;
}

table td{
padding-left:0px;
padding-right:0px;
padding-top:2px;
padding-bottom:2px;
}

.menu {width:600px; height:32px; position:relative; z-index:100; font-family:arial, sans-serif;}
/* remove all the bullets, borders and padding from the default list styling */
.menu ul {padding:0;margin:0;list-style-type:none;}
.menu ul ul {width:auto;}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menu li {float:left;width:auto;position:relative;}
/* style the links for the top level */
.menu a, .menu a:visited {display:block;font-size:15px;color:white; width:auto; height:30px; background:transparent; padding-left:10px; padding-right:10px; line-height:29px; font-weight:bold;}
.menu div {display:block;font-size:15px;color:white; width:auto; height:30px; background:transparent; padding-left:10px; padding-right:10px; line-height:29px; font-weight:bold;}
.menu a.two, .menu a.two:visited {display:block;font-size:15px;color:red; width:auto; height:30px; background:transparent; padding-left:10px; padding-right:10px; line-height:29px; font-weight:bold;}

/* style the second level background */
.menu ul ul a.drop, .menu ul ul a.drop:visited {background:black;}
/* style the second level hover */
.menu ul ul li:hover {background:black;}
.menu ul ul a.drop:hover{background-color:black; color:#000000;}
.menu ul ul :hover > a.drop {background-color:black; color:#000000;}

/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul {display:none; float:left; position:absolute;height:0;top:27px;left:0; width:0px;border-top:1px solid #000;}

/* style the table so that it takes no ppart in the layout - required for IE to work */
.menu table {position:absolute; top:0; left:0; border-collapse:collapse;;}

/* style the second level links */
.menu ul ul a, .menu ul ul a:visited {background:black; opacity:0.95 color:#fff; height:auto; line-height:1em; padding:5px 10px; width:100px;}

/* style the top level hover */
.menu a:hover, .menu ul ul a:hover{color:#cccccc; background:transparent;}
.menu :hover > a, .menu ul ul :hover > a {color:#cccccc; background:transparent;}

.menu a.two:hover, .menu ul ul a:hover{color:red; background:transparent;}
.menu :hover > a.two, .menu ul ul :hover > a.two {color:red; background:transparent;}

/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul,
.menu ul a:hover ul{display:block;}

.shiftright:hover{
	position:relative;
	left:5px;
}

.shiftright a:hover{
	position:relative;
	left:5px;
}

table.menu a.othermenuitems {
	font-weight: bold;
	font-family: Trebuchet MS,Arial, sans-serif;
	text-align: left;
	color: #fff;
}

table.menu a.othermenuitems:hover {
color: #3b3b3b;
}

a.tips{
color:#1e93e5;
}
a.tips:hover{
color:white;
}

p {
	display:inline;
}

.search_button {
font-weight: bold;
font-family:arial, sans-serif;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border-width:0px;
margin-left: auto;
margin-right: auto;
display: inline;
text-align:center;
color: white;
background: transparent;
font-size:15px;
padding: 3px;
}

.search_button:hover {
color: red;
}


.formshowhide{
font-family: arial, sans-serif;
background:transparent;
border-width:0;
font-weight:bold;
font-size: 18px;
line-height:29px;
color:white;
padding:5px;
position:relative;
margin-right: 135px;
}

.formshowhide:hover{
color:#3b3b3b;
}

.formshow{
font-family: arial, sans-serif;
font-weight:bold;
background:transparent;
background-image:url('../images/submit.png');
font-weight: bold;
font-size: 18px; 
border:none;
width: 165px;
height: 43px;
color:white;
padding:2px;
position:relative;
margin-right: 80px;
margin-top:-8px;
}

.formshow:hover{
color:#3b3b3b;
}

#forgetit:hover{
color:#3b3b3b;
}

h1 {
font-family: Trebuchet MS;
}

h4 {
font-family: Trebuchet MS;
margin-bottom: -1px;
margin-top: 15px;
}

header #header{
	background: transparent;
	width:100%;
	padding-top:20px;
	display:block;
	position: relative;
	z-index:4;
}

section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
	z-index: 999;
	margin-bottom: 35px;
}

section h1 {
	font-size: 200%;
}

.likebutton {
		text-align: center;
		font-size: 150%;
		width: 100%;
	  position: fixed;
		padding-top:5px;
		right: 0px;
		bottom: 0px;
		margin-top: 5px;
		z-index: 0;
		background-color:black;
		opacity:0.85;
		border-top-style:solid; 
		border-top-color:white; 
		border-top-width:2px;
		display:none;
}

.tweet {
	margin-bottom:-2px;
}

/* Links */

a {
	color: #910000;
	text-decoration: none;
}

a:hover {
	color: black;
}

a: visited {
	color: #910000;
}

label {
font-family: Trebuchet MS;
font-size: 150%;
}

/* Fonts */
@font-face {
font-family: Delicious-Roman;
src: url(Fonts/Delicious-Roman.otf);
}

@font-face {
font-family: Bauhaus93;
src: url(Fonts/BAUHS93.TTF);
}

@font-face {
font-family: Pico;
src: url(Fonts/PICOBLA_.TTF);
}


/* Navigation */
nav {
	margin-top: 0px;
	text-align: right;
	font-size: 150%;
}

nav {
	background: white;
	padding-top: 10px;
	padding-bottom: 0px;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
	padding-right:15px;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2 0;
}

nav ul li a {
	color: black;
	padding: 0 5px;
	padding-bottom: 0px;
}

nav ul li a:visited {
	color: black;
}

nav ul li a:hover {
	color: #780a0b;
	text-decoration: none;
}

/* Sign up button */

a.signup_button {
	font-family: Trebuchet MS;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align:center;
	width: 190px;
	color: #fff;
	background: #000;
	font-size: 350%;
	padding: 20px;
}
a.signup_button:hover {
	background: #780a0b;
}

/* Round corners */
.round {
	background:white/*#1e93e5*/;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	padding:3px;
	padding-top:20px;	
	border: 2px solid #000;

}

.round2 {
	border:1px solid #000;
	float:right;
}

.shadowbottom {
	-moz-box-shadow: 3px 3px 3px #111;
	-webkit-box-shadow: 3px 3px 3px #111;
	box-shadow: 3px 3px 3px #111;
}

.shadowtop {
	-moz-box-shadow: -3px -3px 3px #111;
	-webkit-box-shadow: -3px -3px 3px #111;
	box-shadow: -3px -3px 3px #111;
}

/* Footer */

footer {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	padding-bottom: 0px;
}

footer nav {
	text-align: center;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}
td.main {
  width: 70%;
  padding: 1em;
}
td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background-color: #abc;
}
.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* Form Style */

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: #1e93e5;
  display: table;
}

.field_with_errors label {
  color: #000;
}

#error_explanation {
  width: 500px;
  border: 3px solid black;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #1e93e5;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 15px;
  margin: 0px;
  background-color: #a63c3c;
  color: #fff;
}

#error_explanation p {
  color: white;
	font-size: 12px;
  margin-bottom: 0;
  padding: 7px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
	color:white;
}
label {
color: white;
}
/*Displaying user list */

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/*Micropost section*/
h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 12px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}


div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

.formtext{
	font-family: Trebuchet MS;
}

.cloud {
background:transparent;
display: inline;
margin:0px;
padding:0px;
color: #000;
border-width:0px;
}

.cloud:hover {
display: inline;
color: #1e93e5;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 6em;
  margin-bottom: 0;
}


/* Proposal Titles List */

h1.proposaltitles {
	text-align: center;
  font-size: 150%;
	margin-bottom: 0.3em;
}

table.proposaltitles {
  margin-top: 1em;
}

table.proposaltitles tr {
  height: 70px;
}

table.proposaltitles tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.proposaltitles tr td.proposaltitle {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.proposaltitles tr td.proposaltitle span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

.like_button {
font-style: italic;
font-family: Trebuchet MS;
background:#3b3b3b;
padding:5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border-width:0px;
margin-left: auto;
margin-right: auto;
display: inline;
text-align:center;
color: #fff;
background: #3b3b3b;
font-size: 10;
padding: 3px;
}

.like_button:hover{
background:#1e93e5;
}

.liked_button {
font-style: italic;
font-family: Trebuchet MS;
background:#1e93e5;
padding:5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border-width:0px;
margin-left: auto;
margin-right: auto;
display: inline;
text-align:center;
color: #fff;
font-size: 10;
padding: 3px;
}

.alreadylike_button {
font-style: italic;
font-family: Trebuchet MS;
background:black;
padding:5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border-width:0px;
margin-left: auto;
margin-right: auto;
display: inline;
text-align:center;
color: #fff;
font-size: 10;
padding: 3px;
}

.dislike_button {
font-style: italic;
font-family: Trebuchet MS;
background:#3b3b3b;
padding:5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border-width:0px;
margin-left: auto;
margin-right: auto;
display: inline;
text-align:center;
color: #fff;
background: #3b3b3b;
font-size: 10;
padding: 3px;
}

.dislike_button:hover{
background:#1e93e5;
}

.spam_button {
font-family: Trebuchet MS;
background:#a63c3c;
padding:5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border-width:0px;
margin-left: auto;
margin-right: auto;
display: inline;
text-align:center;
color: #000;
font-size: 8pt;
padding: 2px;
}

.spam_button:hover{
background:#a71616;
}

.edit_button {
background:transparent;
background-image: url(../images/edit.png);
padding:5px;
border-style:none;
margin-left: auto;
margin-right: auto;
display: inline;
text-align:center;
width:20px;
height:20px;
}

.edit_button:hover{
background-image:url(../images/editmouseover.png);
}

.deletebutton {
background:transparent;
background-image:url(../images/delete.png);
padding:5px;
border-style:none;
margin-left: auto;
margin-right: auto;
text-align:center;
width:20px;
height:20px;
}

.deletebutton:hover{
background-image:url(../images/deletemouseover.png);
}

.facebookbutton {
position:absolute; top:0px; margin-left:60px;z-index:4;
background:transparent;
background-image:url(../images/facebookfollow.png);
border-style:none;
text-align:center;
width:28px;
height:28px;
}

.facebookbutton:hover{
background-image:url(../images/facebookfollowmouseover.png);
}
.twitterbutton {
position:absolute; top:0px; margin-left:30px;z-index:4;
background:transparent;
background-image:url(../images/twitterfollow.png);
border-style:none;
text-align:center;
width:28px;
height:28px;
}

.twitterbutton:hover{
background-image:url(../images/twitterfollowmouseover.png);
}
.rssfeedbutton {
position:absolute; top:0px; z-index:4;
background:transparent;
background-image:url(../images/feed.png);
border-style:none;
text-align:center;
width:28px;
height:28px;
}

.rssfeedbutton:hover{
background-image:url(../images/feedmouseover.png);
}

.locationsbutton {
background:transparent;
background-image:url(../images/globe.png);
border-style:none;
text-align:center;
width:50px;
height:50px;
}

.locationsbutton:hover{
background-image:url(../images/globemouseover.png);
}
.mostlikedbutton {
background:transparent;
background-image:url(../images/smile.png);
border-style:none;
text-align:center;
width:50px;
height:50px;
}

.mostlikedbutton:hover{
background-image:url(../images/smilemouseover.png);
}

.button_to div {
display: inline;
}

.button_to {
display: inline;
}

.fileinput {
size:400;
}

/* SLIDER STYLES */
/*--Main Container--*/
.main_view {
	float: left;
	position: relative;
}
/*--Window/Masking Styles--*/
.window {
	height:150px;	width: 150px;
	overflow: hidden; /*--Hides anything outside of the set width/height--*/
	position: relative;
	background-image: url(../images/familybg.png);
}
.image_reel {
	position: absolute;
	top: 0; left: 0;
}
.image_reel img {width:150px;float: left;}

/*--Paging Styles--*/
.paging {
	position: absolute;
	bottom: 40px; right: -7px;
	width: 178px; height:47px;
	z-index: 100; /*--Assures the paging stays on the top layer--*/
	text-align: center;
	line-height: 40px;
	display: none; /*--Hidden by default, will be later shown with jQuery--*/
}
.paging a {
	padding: 5px;
	text-decoration: none;
	color: #fff;
}
.paging a.active {
	font-weight: bold;
	background: #920000;
	border: 1px solid #610000;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.paging a:hover {font-weight: bold;}/*--Paging Styles--*/
.paging {
	position: absolute;
	bottom: 40px; right: -7px;
	width: 178px; height:47px;
	z-index: 100; /*--Assures the paging stays on the top layer--*/
	text-align: center;
	line-height: 40px;
	background: url(paging_bg2.png) no-repeat;
	display: none; /*--Hidden by default, will be later shown with jQuery--*/
}
.paging a {
	padding: 5px;
	text-decoration: none;
	color: #fff;
}
.paging a.active {
	font-weight: bold;
	background: #920000;
	border: 1px solid #610000;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.paging a:hover {font-weight: bold;}

.pagination {
color:#8b8b8b;
font-size:200%;
font-family: Trebuchet MS;
}
.pagination a{
color:black;
}
.pagination a:hover{
color:#1e93e5;
}

