<table class="front" summary="For signed-in users">
    <tr>
      <td>
				<table class="front">
					<tr>
					<td width="100%">			

<div class="heading"><strong>Vinay:</strong></div><br/>
<%=image_tag('vinay.jpg')%><br/>
<div style="width:500px;">
Both dashing and charismatic, Vinay is a natural public speaker who has spent a decade working as the peoples leading expert on Thalassemia prevention. Forfeiting financial security along with the chance to have a family of his own, Vinay is a fast-talking activist and unapologetic atheist, who is determined to control the effects of Thalassemia in his country.<br/><br/>
</div>

<div class="heading"><strong>Divya:</strong></div><br/>
<%=image_tag('IMRAN_PROFILE_PIC.jpg')%><br/>
<div style="width:500px;">
<br/><br/>
</div>

<div class="heading"><strong>Imran:</strong></div><br/>


					</td>
					</tr>
				</table>
      </td>
    </tr>
  </table>
