<div class="container" style="position:relative; top:0px; z-index: 10; width:970px; padding-top:10px; padding-bottom:10px;">
<div class="menu" style="width:670px; display:inline;">
	<ul>
		<li><%= link_to "home", root_path, :style=>"font-size:30px;"%></li>	
		<li><div></div></li>
		<li><%= link_to "subjects", subjects_path, :style=>"font-size:30px;"%></li>
		<li><div></div></li>
		<li><%= link_to "crew", crew_path, :style=>"font-size:30px;"%></li>
		<li><div></div></li>
	</ul>
</div>
<div class="menu" style="display:inline;">
	<ul style="float:right; display:inline;">
		<li><%= link_to "leave a comment", "/#disqus_thread", :style=>"font-size:30px;"%></li>	
	</ul>
</div>
</div>
